/* HEADER */
.navbar {
    background-color: #ad0f0f;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 2em;
    font-weight: bold;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* END HEADER */

/* MAIN CONTENT */
section {
    background-color: lightgrey;
    padding: 1px 15px;
    margin-bottom: 30px;
}
h2 {
    margin-top: 0;
    margin-bottom: 30px;
}
h3 {
    margin-top: 5px;
}
/* END MAIN CONTENT */

@media (max-width: 768px) {
    .navbar-collapse {
        background-color: #c75959;
    }
    section {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 25px;
        padding-right: 25px
    }
    .navbar-default .navbar-nav>li>a,
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover {
        margin: 0;
        padding: 0;
        color: #fff;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
      background-color: #981212;
    }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff;
    } 
}




